.p-standard-page {
  background: #F8F9FA;
  width: 768px;
  height: 100vh;
  margin: 0 auto;
}
.c-header {
  background: black;
}

.c-content {
  padding: 30px;
}

.c-footer {
  text-align: center;
  background: black;
  color: white;
}
