// hiding certain elements at full size
.c_Header .c_MenuItem.mobile {
  display: none;
}

.logo .mob {
  display: none;
}

h2 {
  font-size: 20px;
}


.c_Header {
  .c_Header_Menu {
    .c_MenuItem {

      &.link {
        display: none;
        padding: 0 3px;
        top: 25px;
        height: 49px;
        font-size: 13px;

        margin-right: 2vw;
      }

      &.account {
        display: none;
      }

      &.mobile {
        padding: 24px 24px 0 12px;
        display: block;
        float: right;
        font-size: 150%;
        margin-top: 16px;
        i {
          margin-right: 0;
        }
      }
      @media only screen and (max-width: $mobile-width) {
        &.mobile {
          margin-top: 0;
        }
      }
    }
  }

  .c_MenuTopRight {
    display: none;
    font-size: 12px;
  }
}